<div class="header">
    <nav>
        <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active">
                <a routerLink="/login" routerLinkActive="active" (click)="onLogOut()">登出</a>
            </li>
        </ul>
        <h3 class="text-muted">發佈中心</h3>
    </nav>
</div>

<hr>

<div id="navbar" class="navbar-collapse collapse">
    <ul class="nav nav-pills">
        <li><a [routerLink]="['new-project']" routerLinkActive="active">專案新增</a></li>
        <li><a [routerLink]="['']" routerLinkActive="active">用戶管理</a></li>
        <li><a [routerLink]="['']" routerLinkActive="active">參數設定</a></li>
    </ul>
</div>

<div class="text-right"><input type="string" placeholder="請輸入專案名稱或編碼" /><button>查詢</button></div>

<hr>

<router-outlet></router-outlet>

<hr class="container">

<footer class="container">
    <p>@鼎新電腦股份有限公司 自動部署中心</p>
</footer>